services:
    db:
        image: postgres:18.0-alpine3.22
        container_name: postgres
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: postgres
        ports:
            - "5432:5432"
        volumes:
            - shadcn_nuxt_postgres:/var/lib/postgresql/data

volumes:
    shadcn_nuxt_postgres:
